@model Part1.Models.Product

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<style>
    .centered-header {
        text-align: center;
    }

    .centered-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form-container {
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

    .form-group label {
        display: block;
        margin-bottom: 0.5rem;
    }

    .form-group input {
        padding: 0.5rem;
        font-size: 1rem;
    }
</style>

<div class="centered-content">
    <h1 class="centered-header">Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="form-container">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
